<p-panel header="Deuda Potencial Directas">
    <h4 style="text-align: center; font-weight: bold;">Tarjetas y líneas de crédito</h4>
    <hr>
    <p-panel [showHeader]="false">
        <ng-container *ngFor="let p of parametrosDPD">
            <div class="grid">
                <div class="col mt-4">{{ p.tipoTarjeta }}</div>
                <div class="col">
                    <p-inputNumber class="table-cell-editable text-right" [(ngModel)]="p.valor" (ngModelChange)="onModelChange()"
                        (keydown.enter)="onModelChange()" mode="decimal" locale="en-US"  [min]="0"
                        [minFractionDigits]="2" [maxFractionDigits]="2" placeholder="0.00" ></p-inputNumber>
                </div>
            </div>
        </ng-container>
        <div class="grid">
            <div class="col mt-4 font-semibold">Deuda Potencial Directa</div>
            <div class="col">
                <p-inputNumber class="table-cell-bold" [(ngModel)]="cuotaPotencialDirecta" mode="decimal" locale="en-US" 
                    [min]="0" [minFractionDigits]="2" [maxFractionDigits]="2" [disabled]="true"></p-inputNumber>
            </div>
        </div>
    </p-panel>
    <ng-template pTemplate="footer">
        <div class="grid">
            <div class="col-6 mt-0 p-0" style="text-align: center;">
                <button pButton type="button" style="text-align:center" class="btn-mdl"
                    (click)="agregarDPD()">Agregar</button>
            </div>
            <div class="col-6 mt-0 p-0" style="text-align: center;">
                <button pButton type="button" style="text-align:center" class="btn-mdl"
                    (click)="cerrarMdl()">Cancelar</button>
            </div>
        </div>
    </ng-template>
</p-panel>