<div class="mt-4">
    <h4>Parametria RSE Condiciones</h4>
</div>
<div [formGroup]="parametroVersion">
    <ng-container formArrayName="parametrosRSECondicion">
        <p-table #tableRSECondicion [value]="parametrosRSECondicion.controls" styleClass="p-datatable-sm"
            dataKey="value.idParametroRSECondicion" [paginator]="false" editMode="row">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width : 5% ;">ID</th>
                    <th style="width : 5% ;">RSE</th>
                    <th style="width : 5% ;">Criterio 1</th>
                    <th style="width : 5% ;">Criterio 2</th>
                    <th style="width : 5% ;">Criterio 3</th>
                    <th style="width : 10% ;">Resultado</th>
                    <th style="width : 20% ;">Condición</th>
                    <th style="width : 20% ;">Comentarios</th>
                    <th style="width : 25% ;" *ngIf="activo">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-controls let-editing="editing" let-i="rowIndex">
                <tr [pEditableRow]="controls" [formGroupName]="i">
                    <td>
                        {{ controls.controls.idParametroRSECondicion.value }}
                    </td>
                    <td>
                        {{ controls.controls.rse.value }}
                    </td>
                    <td>
                        {{ controls.controls.criterio01.value }}
                    </td>
                    <td>
                        {{ controls.controls.criterio02.value }}
                    </td>
                    <td>
                        {{ controls.controls.criterio03.value }}
                    </td>
                    <td style="background-color:#ffff80;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown appendTo="body" formControlName="resultado" [maxlength]="5"
                                    [options]="resultados" placeholder="Seleccionar Resultado"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ controls.controls.resultado.value }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="background-color:#ffff80;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown appendTo="body" formControlName="condicion" [options]="condiciones"
                                    [maxlength]="30" placeholder="Seleccionar Condición"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ controls.controls.condicion.value }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="background-color:#ffff80;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText style="width: 100%" [maxlength]="50" formControlName="comentario" />
                                <span *ngIf="activo && controls.controls.comentario.invalid" class="error-message">
                                    Comentario es requerido
                                </span>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ controls.controls.comentario.value }}
                                <span *ngIf="activo && controls.controls.comentario.invalid" class="error-message">
                                    Comentario es requerido
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td *ngIf="activo">
                        <button type="button" pInitEditableRow
                        (click)="onRowEditInit(controls.controls.idParametroRSECondicion.value)"
                        [disabled]="editing" class="btn-table">
                            <i class="pi pi-file-edit" style="font-size: 1.5rem; cursor: pointer"></i>
                        </button>
                        <button type="button" pSaveEditableRow (click)="guardarRSECondicion(controls.valid)"
                            *ngIf="controls.valid" [disabled]="!editing" class="btn-table">
                            <i class="pi pi-save" style="font-size: 1.5rem; cursor: pointer"></i>
                        </button>
                        <button type="button"
                            (click)="cancelarEditar(controls.controls.idParametroRSECondicion.value, i)"
                            pCancelEditableRow [disabled]="!editing" class="btn-table">
                            <i class="pi pi-times" style="font-size: 1.5rem; cursor: pointer"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Sin registros.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>