div .grid .col {
    padding: 0px !important;
    margin: 0px !important;
}

p-card {
    padding: 100px !important;
}

label {
    font-size: 14px;
}

.container {
    width: 640px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}