<ul (click)="clickSlideOut()" id="slide-out" class="sidenav collapsible">
    <li>
        <div class="user-view center-align sidebar-brand">
            <div class="background">
                <img src="assets/img/logo-interna.png" alt="login" class="responsive-img logo-mini">
                <img src="assets/img/logo-home.png" alt="login" class="responsive-img logo">
            </div>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <ng-container *ngTemplateOutlet="menuRecursivo; context: { $implicit: SecurityModulos, nivel: 0 }"></ng-container>
</ul>

<ng-template #menuRecursivo let-items let-nivel="nivel">
    <li *ngFor="let item of items" routerLinkActive="active">
        <div class="collapsible-header" tabindex="0" *ngIf="tieneHijos(item)">
            <i class="material-icons">{{ item.icono || 'menu' }}</i>
            <div>{{ item.nombre | uppercase }}</div>
            <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
        </div>

        <div class="collapsible-body" *ngIf="tieneHijos(item)">
            <ul class="nested-menu">
                <ng-container *ngTemplateOutlet="menuRecursivo; context: { $implicit: item.hijos, nivel: nivel + 1 }"></ng-container>
            </ul>
        </div>

        <a *ngIf="!tieneHijos(item)" [routerLink]="obtenerRutaOpcion(item)" class="single-menu-link">
            <i class="material-icons">{{ item.icono || 'chevron_right' }}</i>
            <span>{{ item.nombre | uppercase }}</span>
        </a>
    </li>
</ng-template>