<!-- <div id="ptv-dialog-confirm">
  <p-confirmDialog #mdl [style]="{ width: '25vw' }">
    <ng-template pTemplate="header">
      <h3>Confirmación</h3>
    </ng-template>
    <ng-template pTemplate="footer">
      <div style="text-align: center">
        <button
        class="modal-close btn waves-effect waves-light btn-default"
        label="Sí"
        (click)="mdl.accept()"
      >
        <span>Sí</span>
      </button>
        <button
          class="modal-close btn waves-effect waves-light btn-default"
          label="No"
          (click)="mdl.reject()"
        >
          <span>No</span>
        </button>
      </div>
    </ng-template>
  </p-confirmDialog>
</div> -->
