<div class="mt-4">
    <h4>Parametria Comportamiento</h4>
</div>
<div [formGroup]="parametroVersion">
    <ng-container formArrayName="parametrosComportamiento">
        <p-table #tableComportamiento [value]="parametrosComportamiento.controls" styleClass="p-datatable-sm"
            dataKey="value.idParametroComportamiento" [paginator]="false" editMode="row">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th style="width : 25% ;">Comportamiento Tipo Cliente</th>
                    <th style="width : 30% ;">Descripción</th>
                    <th style="width : 25% ;">Comentarios</th>
                    <th style="width : 20% ;" *ngIf="activo">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-controls let-editing="editing" let-i="rowIndex">
                <tr [pEditableRow]="controls" [formGroupName]="i">
                    <td>
                        {{ controls.controls.idParametroComportamiento.value }}
                    </td>
                    <td>
                        {{ controls.controls.tipoCliente.value }}
                    </td>
                    <td style="background-color:#ffff80;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <textarea rows="3" cols="50" style="width: 100%" pInputTextarea [maxlength]="250"
                                    formControlName="descripcionComportamiento"></textarea>
                                    <span *ngIf="activo && controls.controls.descripcionComportamiento.invalid"
                                    class="error-message">
                                    Descripción es requerido
                                </span>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ controls.controls.descripcionComportamiento.value }}
                                <span *ngIf="activo && controls.controls.descripcionComportamiento.invalid"
                                    class="error-message">
                                    Descripción es requerido
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="background-color:#ffff80;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText style="width: 100%" [maxLength]="50" formControlName="comentario" />
                                <span *ngIf="activo && controls.controls.comentario.invalid" class="error-message">
                                    Comentario es requerido
                                </span>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ controls.controls.comentario.value }}
                                <span *ngIf="activo && controls.controls.comentario.invalid" class="error-message">
                                    Comentario es requerido
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td *ngIf="activo">
                        <button type="button" pInitEditableRow
                            (click)="onRowEditInit(controls.controls.idParametroComportamiento.value)"
                            [disabled]="editing" class="btn-table">
                            <i class="pi pi-file-edit" style="font-size: 1.5rem; cursor: pointer"></i>
                        </button>
                        <button type="button" pSaveEditableRow (click)="guardarComportamiento(controls.valid)"
                            *ngIf="controls.valid" [disabled]="!editing" class="btn-table">
                            <i class="pi pi-save" style="font-size: 1.5rem; cursor: pointer"></i>
                        </button>
                        <button type="button"
                            (click)="cancelarEditar(controls.controls.idParametroComportamiento.value, i)"
                            pCancelEditableRow [disabled]="!editing" class="btn-table">
                            <i class="pi pi-times" style="font-size: 1.5rem; cursor: pointer"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Sin registros.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>