.iconSubMenu {
    margin-right: 16px !important;
    vertical-align: middle !important;
}

.titulo {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
    font-weight: bold;
}

p {
    padding: 0px !important;
    margin: 0px !important;
}
.datos{
    padding-top: 10px;
}