<div class="mt-4">
    <h4>Parametria Deuda Potencial Directa</h4>
</div>
<div [formGroup]="parametroVersion">
    <ng-container formArrayName="parametrosDPD">
        <p-table #tableDPD [value]="parametrosDPD.controls" styleClass="p-datatable-sm" dataKey="value.idParametroDPD"
            [paginator]="false" editMode="row">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10%;">ID</th>
                    <th style="width: 20%;">Tipo de Tarjeta y Linea de Crédito</th>
                    <th style="width: 5%;">Factor de Conversión</th>
                    <th style="width: 5%;">Plazo</th>
                    <th style="width: 5%;">% TEM</th>
                    <th style="width: 5%;">% TEA</th>
                    <th style="width: 25%;">Comentario</th>
                    <th style="width: 20%;" *ngIf="activo">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-controls let-editing="editing" let-i="rowIndex">
                <tr [pEditableRow]="controls" [formGroupName]="i">
                    <td>{{ controls.controls.idParametroDPD.value }}</td>
                    <td>{{ controls.controls.tipoTarjeta.value }}</td>
                    <td style="background-color:#ffff80;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber formControlName="factorConversion" mode="decimal" locale="en-US"
                                    [useGrouping]="false" [min]="1" [minFractionDigits]="2"
                                    [maxFractionDigits]="2"></p-inputNumber>
                                    <span *ngIf="activo && controls.controls.factorConversion.invalid"
                                    class="error-message">
                                    Factor de Conversión es requerido
                                </span>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ controls.controls.factorConversion.value | number: '1.2-2' }}
                                <span *ngIf="activo && controls.controls.factorConversion.invalid"
                                    class="error-message">
                                    Factor de Conversión es requerido
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="background-color:#ffff80;">
                        <p-cellEditor>
                            <ng-template pTemplate="input" style="max-width: 100px">
                                <p-inputNumber formControlName="plazo" mode="decimal" locale="en-US"
                                    [useGrouping]="false" [min]="1" [minFractionDigits]="0"
                                    [maxFractionDigits]="0"></p-inputNumber>
                                <span *ngIf="activo && controls.controls.plazo.invalid" class="error-message">
                                    Plazo debe ser mayor a 0
                                </span>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ controls.controls.plazo.value }}
                                <span *ngIf="activo && controls.controls.plazo.invalid" class="error-message">
                                    Plazo debe ser mayor a 0
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        {{ controls.controls.tem.value | number: '1.2-2' }}
                    </td>
                    <td style="background-color:#ffff80;">
                        <p-cellEditor>
                            <ng-template pTemplate="input" style="max-width: 100px">
                                <p-inputNumber formControlName="tea" (onInput)="calcularTEM_DPD($event.value, i)"
                                    mode="decimal" locale="en-US" [useGrouping]="false" [min]="1"
                                    [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
                                <span *ngIf="activo && controls.controls.tea.invalid" class="error-message">
                                    TEA debe ser mayor a 0
                                </span>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ controls.controls.tea.value | number: '1.2-2' }}
                                <span *ngIf="activo && controls.controls.tea.invalid" class="error-message">
                                    TEA debe ser mayor a 0
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="background-color:#ffff80;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText style="width: 100%" formControlName="comentario" maxlength="50" />
                                <span *ngIf="activo && controls.controls.comentario.invalid" class="error-message">
                                    Comentario es requerido
                                </span>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ controls.controls.comentario.value }}
                                <span *ngIf="activo && controls.controls.comentario.invalid" class="error-message">
                                    Comentario es requerido
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td *ngIf="activo">
                        <button type="button" pInitEditableRow
                            (click)="onRowEditInit(controls.controls.idParametroDPD.value)" [disabled]="editing"
                            class="btn-table">
                            <i class="pi pi-file-edit" style="font-size: 1.5rem; cursor: pointer"></i>
                        </button>
                        <button type="button" pSaveEditableRow (click)="guardarDPD(controls.valid)"
                            *ngIf="controls.valid" [disabled]="!editing" class="btn-table">
                            <i class="pi pi-save" style="font-size: 1.5rem; cursor: pointer"></i>
                        </button>
                        <button type="button" (click)="cancelarEditar(controls.controls.idParametroDPD.value, i)"
                            pCancelEditableRow [disabled]="!editing" class="btn-table">
                            <i class="pi pi-times" style="font-size: 1.5rem; cursor: pointer"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Sin registros.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>