#table-container-esfa {
  max-width: 1000px !important;
}

.table-cell-editable {
  background-color: #ffff80;
}

.max-w-input-number {
  max-width: 100px;
}

.cell-monto {
  width: 120px;
}

.cell-monto-cabecera {
  width: 120px !important;
}

.fsize {
  font-size: 0.8rem;
  font-weight: bold;
}

input[type=text] {
  text-align: right
}

:host ::ng-deep input {
  height: 20px !important;
}

.bg-parent {
  background-color: rgb(223, 223, 214);
}

.bg-child {
  background-color: rgb(240, 240, 237);
}

:host ::ng-deep .p-treetable.p-treetable-sm .p-treetable-tbody>tr>td {
  padding: 5px 0px 0px 10px;
}

:host ::ng-deep .p-autocomplete-dd .p-autocomplete-dropdown {
  margin-top: -1px;
  width: 24px;
  height: 23px;
  background-color: #ffff80;
  border: 2px solid #00694f;
  color: #00694f;
}

:host ::ng-deep .p-autocomplete {
  height: 20px;
}

:host ::ng-deep input {
  height: 20px !important;
}

.icon-add {
  margin-right: 12px;
  margin-top: 10px;
  font-size: 12px;
  color: #00694f;
  font-weight: bold;
  border: 2px solid #00694f;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
}

.icon-remove {
  margin-right: 12px;
  margin-top: 5px;
  font-size: 12px;
  color: #a11d1d;
  font-weight: bold;
  border: 2px solid #00694f;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
}

.icon-pencil {
  margin-right: 6px;
  margin-left: 3px;
  margin-top: 5px;
  font-size: 12px;
  color: #868608;
  font-weight: bold;
  border: 2px solid #00694f;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

.bg-low {
  background-color: yellow;
  padding: 7px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.bg-normal {
  background-color: #00694f;
  color: white;
  padding: 7px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.bg-high {
  background-color: red;
  color: white;
  padding: 7px;
  margin-bottom: 5px;
  margin-right: 5px;
}

/*==============================================*/
.ng-star-inserted tr {
  border: none;
}

:host ::ng-deep .ng-star-inserted .p-treetable-tbody tr>td {
  border-bottom: none;
}

:host ::ng-deep .active-borders {
  border: 1px solid #000 !important;
  font-weight: bold !important;
}

:host ::ng-deep .active-solid-border {
  border-right: 1px solid #000 !important;
}

:host ::ng-deep .active-dashed-border {
  border-right: 1px dashed #000 !important;
}

.disabled-number {
  color: rgb(200, 200, 200);
}

td {
  padding: 0px !important;
}

:host ::ng-deep .p-treetable-scrollable-header {
  margin: 15px 0px !important;
}

:host ::ng-deep .p-treetable-scrollable-header-box {
  background-color: white !important;
}

.first-column {
  width: 450px;
}

:host ::ng-deep .p-panel-content {
  width: auto !important;
}

:host ::ng-deep .p-treetable table {
  width: auto !important;
  ;
}