/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*background-color: #63961C!important;*/


* {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu';
  font-size: 14px;
}


.mat-form-field.mat-focused .mat-form-field-ripple {

  background-color: #26a69a !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #26a69a !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #26a69a !important;
}

.mat-option.mat-selected.mat-active {
  color: #26a69a !important;
}

.mat-calendar-body-selected {
  background-color: #26a69a;
  color: #fff;
}

/* .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0 !important;
} */
.input-field.col.lbl-sar-mat-select label {
  left: 0rem;
}

input.mat-input-dpicker {
  /* font: inherit; */
  background: transparent;
  color: currentColor;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: -0.0625em;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;
  transition: none;
}

.mat-form-field-dpicker-sar div.mat-form-field-underline {
  display: none;
}

.mat-form-field-dpicker-sar span.mat-form-field-label-wrapper {
  top: 0.15em;
}

.mat-form-field-dpicker-sar .mat-datepicker-toggle {
  margin-left: -30px;
}

.mat-datepicker-toggle-default-icon {
  width: 1.8em !important;
  height: 1.7em;
  display: block;
}

.mat-datepicker-toggle-active {
  color: #26a69a;
}


.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .8em 0;
}

.text-descripcion {
  /*height: 3.5rem !important;*/
  padding-top: 8px !important;
}

.label-input-sar {
  padding-top: 4px !important;
}

label.active.label-input-sar {
  padding-top: 14px !important;
}

.error-message {
  font-family: "Ubuntu";
  font-size: 13px;
  font-weight: bold;
  color: red;
}

.btn-nuevo {
    font-family: "Ubuntu";
    font-weight: 600;
    background-color: green;
    color: #ffd204;
  }

.btn-table {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  margin-right: 15px;
  margin-top: 10px;
}
.p-button:enabled:hover {
  background: #1d7d74;
  color: #ffffff;
  border-color: #1d7d74;
}

.custom-label-input {
  display: flex ;
  flex-direction: column ;
  justify-content: end ;
}